
<div class="users">
    <ul class="users-ul">
    </ul>
</div>
<div class="message-container">
                <div class="msg-cont-header">
                    <p>{{username}}</p>
                </div>
                <div id="list-messages" class="list-messages" onload="this.scrollTop = 9999;">
                </div>
                <div class="send-container">
                    <form action="" method="post">
                        <input type="text" autocomplete="off" id="textmessage" placeholder='Start typing your message...'>
                        <!--<textarea name="messege" id="textmessage" rows='1' placeholder='Start typing your message...'></textarea>-->
                        <button type="submit" class="btn">send</button>
                    </form>
                </div>
            </div>

<script>

    var scroll = document.getElementById('list-messages');
    scroll.scrollTop = scroll.scrollHeight;
    var div = $('#list-messages');

//    $('.btn').on('click', function(){
//        div.animate({
//            scrollTop: div.get(0).scrollHeight
//        });
//    });

//
//    var textarea = document.querySelector('textarea');
//
//    textarea.addEventListener('keydown', autosize);
//
//    function autosize(){
//        var el = this;
//        setTimeout(function(){
//            el.style.cssText = 'height:auto; padding:0';
//            // for box-sizing other than "content-box" use:
//            el.style.cssText = '-moz-box-sizing:content-box';
//            el.style.cssText = 'height:' + el.scrollHeight + 'px';
//        },0);
//    }


</script>

            <script src="/socket.io/socket.io.js"></script>
            <script>
                $( document ).ready(function(){

                var socket = io();


                var form = $('.send-container form');
                var div = $('.list-messages');
                var ul = $('.users-ul');

                form.submit(function () {
                    var input = $(this).find(':input');
                    var text = input.val();
                    input.val('');

                    socket.emit('message', text, function (data) {
                        var mess= $('<div class="user-message-my">').appendTo(div);
                        $('<h2>{{username}}</h2>').appendTo(mess);
                        $('<p>', {text:text}).appendTo(mess);
                        div.animate({
                            scrollTop: div.get(0).scrollHeight
                        });
                    });
                    return false
                });

                socket.on('load user', function (docs, username) {
                    console.log(username)

                    //for(var i = 0; i< docs.length; i++){
                        //    $('<li><a href="#">'+docs[i]+'</a></li>').appendTo(ul);
//console.log(docs[i])
//                            if(username == docs[i]){
//                                $('.users-ul li a').addClass('online');
//                            }
                   // }

                });




                socket.on('load old message', function (docs, username) {
                    for(var i = 0; i< docs.length; i++){
                         displayMessage(docs[i], username);
                    }
                });


                function displayMessage(data, username) {
                    if(data.userId == username){
                        var mess= $('<div class="user-message-my">').appendTo(div);
                        $('<h2>'+ data.userId +'</h2>').appendTo(mess);
                        $('<p>'+ data.msg+'</p>').appendTo(mess);
                        div.animate({
                            scrollTop: div.get(0).scrollHeight
                        });
                    }else {
                        var mess= $('<div class="user-message">').appendTo(div);
                        $('<h2>'+ data.userId +'</h2>').appendTo(mess);
                        $('<p>'+ data.msg+'</p>').appendTo(mess);
                        div.animate({
                            scrollTop: div.get(0).scrollHeight
                        });
                    }

                }


                socket.on('message',  function (username,text) {
                   var mess= $('<div class="user-message">').appendTo(div);
                   $('<h2>'+ username+'</h2>').appendTo(mess);
                   $('<p>', {text:text}).appendTo(mess);
                    div.animate({
                        scrollTop: div.get(0).scrollHeight
                    });
                })


                        .on('disconnect', function() {
                            printStatus("соединение потеряно");
                            input.prop('disabled', true);
                            this.$emit('error');
                        })

                function printStatus(status) {
                    var mess= $('<div class="user-message">').appendTo(div);
                    $('<p>').append().text(status).appendTo(mess);
console.log(status);
                     }

                });

            </script>